<link rel="import" href="../polymer/polymer.html">

<dom-module id="feature-toggle">
  <template if="[[isToggled]]">
    <style></style>
    <content></content>
  </template>
  <script>
      Polymer({
          is: 'feature-toggle',
          properties: {
              feature: {
                type: String,
                value: '',
                observer: '_featureChanged'
              },
              isToggled: {
                type: Boolean,
                reflectToAttribute: true,
                readOnly: true
              }
          },
          _featureChanged: function(feature) {
              // Check local for feature toggle: https://github.com/Collaborne/iron-localstorage-behavior
              this.isToggled = true;
          }
      })
  </script>
</dom-module>